/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f1f1f1;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: center;
}

/* Heading */
h1 {
  color: #4caf50;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Scrambled Word Style */
.scrambled {
  font-size: 30px;
  color: #2196f3;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Input Field */
input {
  padding: 10px;
  font-size: 18px;
  width: 80%;
  margin: 20px 0;
  border: 2px solid #4caf50;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #2196f3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

/* Button Style */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Feedback & Image Style */
#feedback {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

#word-image img {
  width: 150px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

#word-image img.show {
  opacity: 1;
}